<!--footer-->
<footer class="mt-5 px-4">
    <div class="container-fluid">
        <div id="footer-social-wrapper" class="row">
            <a href="#/" class="social-icon">
                {{ partial "svg/facebook.svg" . }}
            </a>
            <a href="#/" class="social-icon">
                {{ partial "svg/twitter.svg" . }}
            </a>
            <a href="#/" class="social-icon">
                {{ partial "svg/pinterest.svg" . }}
            </a>
        </div>
    </div>
</footer>